@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Secular+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp');

$blackColor: #343f62;

$sm: 600px;
$md: 900px;
$lg: 1024px;

@mixin extra-small {
  @media (max-width: #{$sm - 1px}) {
    @content;
  }
}

@mixin small-down {
  @media (max-width: #{$md - 1px}) {
    @content;
  }
}

@mixin small-only {
  @media (min-width: #{$sm}) and (max-width: #{$md - 1px}) {
    @content;
  }
}

@mixin small-up {
  @media (min-width: #{$sm}) {
    @content;
  }
}

@mixin medium-only {
  @media (min-width: #{$md}) and (max-width: #{$lg - 1px}) {
    @content;
  }
}

@mixin medium-up {
  @media (min-width: #{$md}) {
    @content;
  }
}

@mixin large {
  @media (min-width: #{$lg}) {
    @content;
  }
}

@mixin respond($breakpoint) {
  @if ($breakpoint == 'extra-small') {
    @media (max-width: #{$sm - 1px}) {
      @content;
    }
  }
  @if ($breakpoint == 'small-down') {
    @media (max-width: #{$md - 1px}) {
      @content;
    }
  }
  @if ($breakpoint == 'small-only') {
    @media (min-width: #{$sm}) and (max-width: #{$md - 1px}) {
      @content;
    }
  }
  @if ($breakpoint == 'small-up') {
    @media (min-width: #{$sm}) {
      @content;
    }
  }
  @if ($breakpoint == 'medium-only') {
    @media (min-width: #{$md}) and (max-width: #{$lg - 1px}) {
      @content;
    }
  }
  @if ($breakpoint == 'medium-down') {
    @media (max-width: #{$md - 1px}) {
      @content;
    }
  }
  @if ($breakpoint == 'medium-up') {
    @media (min-width: #{$md}) {
      @content;
    }
  }
  @if ($breakpoint == 'large') {
    @media (min-width: #{$lg}) {
      @content;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

.hms-index {
  overflow-x: none;
  background-color: #fff;
  button {
    &:focus {
      box-shadow: unset !important;
    }
  }

  .hms-btn-homepage {
    background-color: #0099bb;
    border: 1px solid #0099bb;
    border-radius: 8px;
    padding: 12px 50px;

    &:hover {
      background-color: #29bbdb !important;
      border: 1px solid #29bbdb !important;
    }
  }

  .hms-btn-slider {
    button {
      background-color: #0099bb;
      border-color: #0099bb;
      padding: 10px 30px;
      margin-right: 10px;
      font-family: 'Plus Jakarta Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 13px;
      text-align: center;
      letter-spacing: -0.02em;

      &:last-child {
        background-color: white;
        color: #0099bb;
        margin-right: 0;
      }

      &:hover {
        opacity: 0.7;
      }
    }
    @include respond('medium-down') {
      text-align: center;
      margin-bottom: 2rem;
    }
  }

  .hms-index-daftar {
    padding: 35px 0;
    background-image: url('/Assets/cms/bg_up.png');
    background-repeat: no-repeat;
    background-size: cover;

    .hms-index-daftar-form {
      h3 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 27px;
        line-height: 48px;
        color: #0099bb;
        text-align: center;

        span {
          color: #141313;
        }
      }

      .card {
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(50px);
        border-radius: 16px;
        border: unset !important;
        padding: 20px 0;
      }
    }

    .hms-index-daftar-card {
      background: rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(50px);
      border-radius: 16px;
      margin: 20px 0;
      padding: 10px 0;

      .hms-index-daftar-card-announ {
        text-align: center;

        img {
          margin-bottom: 20px;
        }

        h4 {
          font-family: 'Poppins', sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 17px;
          line-height: 20px;
          text-align: center;
          color: #141313;
          margin-bottom: 10px;
        }

        p {
          font-family: 'Poppins', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 13px;
          line-height: 18px;
          text-align: center;
          color: #141313;
          margin-bottom: 0;
          width: 70%;
          margin: 0 auto;
        }

        .active {
          position: relative;

          &:focus {
            box-shadow: unset;
          }

          //   &::after {
          //     font-family: 'Material Icons Round';
          //     content: 'expand_more';
          //     font-size: 25px;
          //     color: #0099bb;
          //     position: absolute;
          //     bottom: -15%;
          //     margin-left: -5.8%;
          //     border-radius: 100%;
          //     background-color: white;
          //     width: 50px;
          //     height: 50px;
          //   }
        }
      }

      .hms-index-daftar-card-title {
        margin-bottom: 30px;

        h3 {
          font-family: 'Poppins', sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 25px;
          line-height: 48px;
          color: #0099bb;
          text-align: center;
          margin-bottom: 0;

          span {
            color: #4a4a4a;
          }
        }

        p {
          font-family: 'Poppins', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 13px;
          line-height: 21px;
          color: #4a4a4a;
          text-align: center;
        }
      }
    }
  }

  .hms-index-header {
    // background-image: url('/Assets/cms/bg_up.png');
    // background-repeat: no-repeat;
    // background-size: cover;

    .hms-index-header-cover {
      padding: 20px 10px;

      .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .hms-index-header-cover-menu {
          display: flex;
          align-items: center;

          .hms-index-header-cover-menu-nav {
            a {
              font-family: 'Poppins', sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 13px;
              line-height: 24px;
              color: #0099bb;
              text-decoration: none;
              margin-right: 25px;

              &:last-child {
                margin-right: 60px;
              }
            }

            button {
              font-family: 'Poppins', sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 13px;
              line-height: 24px;
              color: #0099bb;
              text-decoration: none;
              margin-right: 25px;
              background-color: unset;
              border: unset;

              &:hover,
              &:focus,
              &:active {
                color: #0099bb;
                background-color: unset;
                border-color: unset;
              }
            }
          }

          .hms-index-header-cover-menu-btn {
            button {
              background-color: #0099bb;
              border-color: #0099bb;
              padding: 10px 30px;
              margin-right: 10px;
              font-family: 'Plus Jakarta Sans';
              font-style: normal;
              font-weight: 700;
              font-size: 13px;
              text-align: center;
              letter-spacing: -0.02em;

              // &:last-child {
              //     background-color: white;
              //     color: #0099BB;
              //     margin-right: 0;
              // }

              &:hover {
                opacity: 0.7;
              }
            }
          }
        }
      }
    }

    .hms-index-header-content {
      h1 {
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 34px;
        line-height: 130%;
        letter-spacing: -0.02em;
        color: #4a4a4a;
        margin-bottom: 15px;
        @include respond('medium-down') {
          font-size: 21px;
        }
      }

      p {
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        text-align: justify;
        letter-spacing: -0.02em;
        color: #4a4a4a;
        @include respond('medium-down') {
          font-size: 14px;
        }
      }

      .hms-index-header-content-card {
        background: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(50px);
        border-radius: 16px;
        margin: 20px 0;
        padding: 10px 0;

        .hms-index-header-content-card-announ {
          text-align: center;

          img {
            margin-bottom: 20px;
          }

          h4 {
            font-family: 'Poppins', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 17px;
            line-height: 20px;
            text-align: center;
            color: #141313;
            margin-bottom: 10px;
          }

          p {
            font-family: 'Poppins', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 18px;
            text-align: center;
            color: #141313;
            margin-bottom: 0;
            width: 70%;
            margin: 0 auto;
          }

          button {
            &:focus {
              box-shadow: unset;
            }
          }

          .active {
            position: relative;

            // &::after {
            //   font-family: 'Material Icons Round';
            //   content: 'expand_more';
            //   font-size: 25px;
            //   color: #0099bb;
            //   position: absolute;
            //   bottom: -15%;
            //   margin-left: -5.8%;
            //   border-radius: 100%;
            //   background-color: white;
            //   width: 50px;
            //   height: 50px;
            // }
          }
        }

        .hms-index-header-content-card-title {
          margin-bottom: 30px;

          h3 {
            font-family: 'Poppins', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 25px;
            line-height: 48px;
            color: #0099bb;
            text-align: center;
            margin-bottom: 0;

            span {
              color: #4a4a4a;
            }
            @include respond('medium-down') {
              font-size: 18px;
            }
          }

          p {
            font-family: 'Poppins', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 21px;
            color: #4a4a4a;
            text-align: center;
          }
        }
      }
    }
  }

  .hms-index-content-tab {
    background-color: white;
    position: relative;
    z-index: 2;
    width: 100%;
    padding: 30px 0;

    h5 {
      font-family: 'Plus Jakarta Sans', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 170%;
      letter-spacing: -0.02em;
      color: #0099bb;
      opacity: 0.4;
    }

    h1 {
      font-family: 'Plus Jakarta Sans', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 35px;
      line-height: 50px;
      color: #4a4a4a;
      @include respond('medium-down') {
        font-size: 23px;
        line-height: 30px;
      }
      span {
        color: #0099bb;
      }
    }

    .hms-index-content-tab-paraf {
      font-family: 'Plus Jakarta Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      text-align: justify;
      letter-spacing: -0.02em;
      color: #4a4a4a;
    }

    .hms-index-content-tab-list {
      display: flex;
      align-items: center;

      svg {
        font-size: 30px;
        margin-right: 20px;
        color: #0099bb;
      }

      p {
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: -0.02em;
        color: #4a4a4a;
        margin-bottom: 0;
      }
    }

    .hms-index-content-tab-accordion {
      .accordion-item {
        border: 1px solid #0099bb;
      }

      .accordion-header {
        button {
          background-color: #0099bb;
          font-family: 'Plus Jakarta Sans';
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 150%;
          letter-spacing: -0.02em;
          color: #ffffff;

          &::after {
            background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
          }

          &:focus {
            box-shadow: unset !important;
          }
        }
      }

      .hms-index-content-tab-accordion-card {
        display: flex;
        align-items: center;

        p {
          font-family: 'Plus Jakarta Sans';
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 150%;
          letter-spacing: -0.02em;
          color: #0099bb;
          margin-left: 10px;
          margin-bottom: 0;
        }
      }
    }
  }

  .hms-hr-custom {
    margin: 30px 0;
    border-top: 2px solid #0099bb;
  }

  .hms-index-content-after {
    background-image: url('/Assets/cms/bg_up.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0;

    h1 {
      font-family: 'Plus Jakarta Sans', sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 44px;
      line-height: 58px;
      text-align: center;
      color: #4a4a4a;
      width: 70%;
      margin: 0 auto;
      margin-bottom: 15px;
    }

    p {
      font-family: 'Plus Jakarta Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 17px;
      line-height: 25px;
      text-align: center;
      color: #4a4a4a;
      margin-bottom: 0;
    }

    button {
      text-align: center;
      background: #0099bb;
      border-color: #0099bb;
      border-radius: 6px;
      font-family: 'Plus Jakarta Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 13px;
      line-height: 150%;
      text-align: center;
      letter-spacing: 0.05em;
      color: #ffffff;
      padding: 12px 40px;
    }
  }

  .hms-index-footer {
    padding: 40px 0 10px 0;
    background-color: #fff;

    h4 {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 27px;
      color: #0099bb;
    }

    .hms-index-footer-features {
      display: flex;
      flex-direction: column;

      a {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 27px;
        color: #4a4a4a;
        text-decoration: none;
      }
    }

    .hms-index-footer-desc {
      font-family: 'Plus Jakarta Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      text-align: justify;
      letter-spacing: -0.02em;
      color: #4a4a4a;
      width: 90%;
    }

    .hms-index-footer-copyright {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      color: #4a4a4a;
      text-align: center;
    }
  }

  .hms-input-group-mail {
    .input-group-text {
      border: unset;
      border-left: 1px solid #b5b5b5;
      border-right: unset;
      border-top: 1px solid #b5b5b5;
      border-bottom: 1px solid #b5b5b5;
      background-color: white;
      border-top-left-radius: 8px !important;
      border-bottom-left-radius: 8px !important;

      svg {
        color: #797979;
      }
    }

    input {
      border-left: unset;
      border-right: 1px solid #b5b5b5;
      border-top: 1px solid #b5b5b5;
      border-bottom: 1px solid #b5b5b5;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 21px;
      color: #797979;
      border-top-right-radius: 8px !important;
      border-bottom-right-radius: 8px !important;

      &:focus,
      &:active,
      &:hover {
        box-shadow: unset;
        outline: unset;
        border-right: 1px solid #b5b5b5;
        border-top: 1px solid #b5b5b5;
        border-bottom: 1px solid #b5b5b5;
      }
    }

    button {
      background: #0099bb;
      border-radius: 8px !important;
      position: relative;
      left: -51.5px;
      margin: 4px;
      border: unset;

      svg {
        color: white;
      }
    }
  }

  .hms-btn-tab {
    background-color: transparent !important;
    border: 1px solid #0099bb;
    @include respond('medium-up') {
      min-width: 32.8%;
    }
    @include respond('medium-down') {
      width: 100%;
    }
    &:hover {
      background-color: rgba(202, 238, 255, 0.446) !important;
    }
  }

  .hms-modal-request-demo {
    h2 {
      font-family: 'Plus Jakarta Sans', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      color: #141313;
      text-align: center;
    }
  }

  .hms-form-label {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: $blackColor;
  }

  .hms-form-control {
    input {
      padding: 12px 14px !important;
      font-family: 'Poppins', sans-serif !important;
      font-style: normal;
      font-weight: 400 !important;
      font-size: 13px;
      line-height: 21px;
      color: #a0a0a0;
    }

    .MuiSelect-select {
      padding: 9.5px 14px !important;
      font-family: 'Poppins', sans-serif !important;
      font-style: normal;
      font-size: 13px;
      font-weight: 400 !important;
    }

    textarea {
      padding: 12px 14px !important;
    }

    fieldset {
      border-radius: 7px !important;
      border-color: #dee7f9 !important;
      // border-width: 1px !important;
    }

    .MuiInputAdornment-root {
      p {
        font-family: 'Poppins', sans-serif !important;
        font-style: normal;
        font-weight: 500 !important;
        font-size: 12px;
      }
    }

    .MuiAutocomplete-inputRoot {
      padding: 0 !important;
      padding-right: 39px !important;
    }
  }

  .hms-form-control-white {
    background-color: white;
    border-radius: 8px !important;

    input {
      padding: 12px 14px !important;
      font-family: 'Poppins', sans-serif !important;
      font-style: normal;
      font-weight: 400 !important;
      font-size: 13px;
      line-height: 21px;
      color: #a0a0a0;
      background-color: white;
      border-radius: 8px;
    }

    .MuiSelect-select {
      padding: 9.5px 14px !important;
      font-family: 'Poppins', sans-serif !important;
      font-style: normal;
      font-size: 13px;
      font-weight: 400 !important;
      background-color: white;
      border-radius: 8px !important;
    }

    textarea {
      // padding: 12px 14px !important;
      background-color: white;
      border-radius: 8px;
      font-family: 'Poppins', sans-serif !important;
      font-style: normal;
      font-weight: 400 !important;
      font-size: 13px;
      line-height: 21px;
      color: #a0a0a0;
    }

    fieldset {
      border-radius: 7px !important;
      border-color: #dee7f9 !important;
      // border-width: 1px !important;
    }

    .MuiInputAdornment-root {
      p {
        font-family: 'Poppins', sans-serif !important;
        font-style: normal;
        font-weight: 500 !important;
        font-size: 12px;
      }
    }

    .MuiAutocomplete-inputRoot {
      padding: 0 !important;
      padding-right: 39px !important;
    }
  }

  .hms-btn-close {
    background: #ffffff;
    padding: 10px 30px;
    border: 1px solid #0099bb;
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    color: #0099bb;
  }

  .hms-btn-submit {
    background: #0099bb;
    border: 1px solid #0c849e;
    border-radius: 4px;
    padding: 10px 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    color: #ffffff;
  }

  .hms-bg-header-unset {
    background: #f8fafb;
  }

  .hms-btn-daftar {
    width: 100%;
    background: #0c849e;
    border: 1px solid #0c849e;
    border-radius: 8px;
    padding: 12px 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 30px;
    color: #ffffff;
  }

  .hms-signin {
    background-image: url('/Assets/cms/bg_signin.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;

    .hms-signin-logo {
      padding-left: 70px;
      padding-top: 45px;
    }

    .hms-signin-bg {
      background-image: url('/Assets/cms/signin.png');
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
    }

    .hms-signin-card {
      width: 60%;
      margin: 0 auto;
      margin-top: 80px;
      background-color: white;
      border-radius: 16px;
      padding: 20px;
      filter: drop-shadow(0px -8px 50px rgba(229, 241, 247, 0.5))
        drop-shadow(0px 8px 50px rgba(229, 241, 247, 0.5));

      h3 {
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        text-align: center;
        color: #0099bb;
      }

      .hms-signin-card-form {
        width: 80%;
        margin: 0 auto;
        margin-top: 30px;
      }
    }

    .hms-signin-footer {
      position: absolute;
      bottom: 0;
      width: 100%;

      p {
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 17px;
        color: #4a4a4a;
        text-align: center;

        span {
          color: #0c849e;
        }
      }

      .hms-signin-footer-link {
        a {
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0.4px;
          color: #212121;
          text-decoration: none;
          margin-right: 20px;

          &:last-child {
            margin-right: 0px;
          }
        }
      }
    }
  }

  .hms-accordion {
    .accordion-item {
      margin-bottom: 15px;
      border-radius: 15px !important;

      button {
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.5px;
        color: #000000;
        border-radius: 15px !important;

        &:active,
        &:focus,
        &:hover {
          box-shadow: unset !important;
          background-color: unset !important;
        }
      }
    }

    .accordion-button:not(.collapsed) {
      background-color: unset !important;
      border: unset !important;
      box-shadow: unset !important;
    }
  }

  .hms-card-list {
    a {
      font-family: 'Plus Jakarta Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 20px;
      letter-spacing: 0.5px;
      color: #4a4a4a;
      text-decoration: none;

      &:hover,
      &:focus,
      &:active {
        font-weight: bold;
        color: #0099bb;
      }
    }
  }

  .hms-btn {
    background-color: #0099bb;
    border: 1px solid #0099bb;
    border-radius: 15px;
    padding: 15px 50px;

    &:hover {
      background-color: #29bbdb !important;
      border: 1px solid #29bbdb !important;
    }
  }

  .hms-carousel {
    position: absolute;
    bottom: 12%;
    left: 15.3%;
    width: 64%;
    top: 34%;

    // .carousel-indicators {
    //     display: none;
    // }
  }
}

.hms-index-header-cover-menu-nav-extra {
  a {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #4a4a4a;
    text-decoration: none;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover,
    &:focus,
    &:active {
      color: #0099bb;
    }
  }
}

.hms-modal-homepage {
  .hms-modal-homepage-request-demo {
    h2 {
      font-family: 'Plus Jakarta Sans', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      color: #141313;
      text-align: center;
    }
  }

  .hms-form-label {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: $blackColor;
  }

  .hms-form-control {
    input {
      padding: 12px 14px !important;
      font-family: 'Poppins', sans-serif !important;
      font-style: normal;
      font-weight: 400 !important;
      font-size: 13px;
      line-height: 21px;
      color: #a0a0a0;
    }

    .MuiSelect-select {
      padding: 9.5px 14px !important;
      font-family: 'Poppins', sans-serif !important;
      font-style: normal;
      font-size: 13px;
      font-weight: 400 !important;
    }

    textarea {
      padding: 12px 14px !important;
    }

    fieldset {
      border-radius: 7px !important;
      border-color: #dee7f9 !important;
      // border-width: 1px !important;
    }

    .MuiInputAdornment-root {
      p {
        font-family: 'Poppins', sans-serif !important;
        font-style: normal;
        font-weight: 500 !important;
        font-size: 12px;
      }
    }

    .MuiAutocomplete-inputRoot {
      padding: 0 !important;
      padding-right: 39px !important;
    }
  }

  .hms-form-control-white {
    background-color: white;
    border-radius: 8px !important;

    input {
      padding: 12px 14px !important;
      font-family: 'Poppins', sans-serif !important;
      font-style: normal;
      font-weight: 400 !important;
      font-size: 13px;
      line-height: 21px;
      color: #a0a0a0;
      background-color: white;
      border-radius: 8px;
    }

    .MuiSelect-select {
      padding: 9.5px 14px !important;
      font-family: 'Poppins', sans-serif !important;
      font-style: normal;
      font-size: 13px;
      font-weight: 400 !important;
      background-color: white;
      border-radius: 8px !important;
    }

    textarea {
      // padding: 12px 14px !important;
      background-color: white;
      border-radius: 8px;
      font-family: 'Poppins', sans-serif !important;
      font-style: normal;
      font-weight: 400 !important;
      font-size: 13px;
      line-height: 21px;
      color: #a0a0a0;
    }

    fieldset {
      border-radius: 7px !important;
      border-color: #dee7f9 !important;
      // border-width: 1px !important;
    }

    .MuiInputAdornment-root {
      p {
        font-family: 'Poppins', sans-serif !important;
        font-style: normal;
        font-weight: 500 !important;
        font-size: 12px;
      }
    }

    .MuiAutocomplete-inputRoot {
      padding: 0 !important;
      padding-right: 39px !important;
    }
  }

  .hms-btn-close {
    background: #ffffff;
    padding: 10px 30px;
    border: 1px solid #0099bb;
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    color: #0099bb;
  }

  .hms-btn-submit {
    background: #0099bb;
    border: 1px solid #0c849e;
    border-radius: 4px;
    padding: 10px 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    color: #ffffff;
  }
}

.hero-card {
  @include respond('medium-up') {
    align-item: start;
    h4 {
      font-size: 18px;
    }
    p {
      font-size: 14px;
    }
  }
  @include respond('medium-down') {
    align-items: center;
    h4 {
      font-size: 16px;
      text-align: center;
    }
    p {
      font-size: 13px;
    }
  }
}

.wrap-feature {
  @include respond('medium-up') {
    padding: 1rem 0;
  }
  @include respond('medium-down') {
    padding: 2rem 0;
  }
}
